In [47]:
import pandas as pd
import json
# with open("test.fr-en", 'rb') as file:
#     str_file = file.read()
#     print(str_file)
#     json_file = json.load(str_file.decode('utf-8'))
#     print("json_file", json_file)
#     # print(pd.DataFrame(json.loads(file.read())))

In [48]:
import requests
resp = requests.get("https://datasets-server.huggingface.co/first-rows?dataset=wmt14&config=fr-en&split=test")
json_data = resp.json()

In [49]:
# type(json_data)

dict

In [50]:
# json_data['rows'][0]['row']['translation']['fr']

'Spectaculaire saut en "wingsuit" au-dessus de Bogota'

In [51]:
# json_data['rows'][0]
def get_json_data(json_data):    
    en =list()
    fr = list()
    for row_idx in json_data['rows']:
        fr.append(row_idx['row']['translation']['fr'])
        en.append(row_idx['row']['translation']['en'])
    
    return fr, en

In [52]:
fr, en = get_json_data(json_data)

In [ ]:
# en

In [ ]:
# fr

In [53]:
json_data_df = pd.DataFrame(list(zip(fr,en)), columns=['src','target'])

In [54]:
# json_data_df.iloc[0]

src       Spectaculaire saut en "wingsuit" au-dessus de ...
target                Spectacular Wingsuit Jump Over Bogota
Name: 0, dtype: object

In [55]:
import deep_translator
from deep_translator import GoogleTranslator
translator = GoogleTranslator(source="auto", target='en')

In [56]:
# fr[1] # source language

"Le sportif Jhonathan Florez a sauté jeudi d'un hélicoptère au-dessus de Bogota, la capitale colombienne."

In [57]:
# en[1] # human translated

'Sportsman Jhonathan Florez jumped from a helicopter above Bogota, the capital of Colombia, on Thursday.'

In [58]:
# machine translated
# translator.translate("Le sportif Jhonathan Florez a sauté jeudi d'un hélicoptère au-dessus de Bogota, la capitale colombienne.")

'Athlete Jhonathan Florez jumped from a helicopter over Bogota, the Colombian capital, on Thursday.'

In [59]:
# machine translated by batch 
mt_en = translator.translate_batch(json_data_df["src"].tolist())

In [ ]:
# mt_en

In [45]:
# type(mt_en)
# json_data_df =pd.DataFrame()
# json_data_df.columns
# json_data_df['ht_mt_target']

In [61]:
json_data_df.insert(loc=2, column='ht_mt_target', value=mt_en)

In [62]:
json_data_df.insert(loc=3, column='ht_mt_label', value=[0]*len(mt_en))

In [63]:
# with open("json_data_df", 'wb') as json_to_txt:
#     # json_to_txt.write(json_data_df['ht_mt_target'])
#     dfAsString = json_data_df.to_string(header=False, index=False, columns=['ht_mt_target'])
#     json_to_txt.write(dfAsString.strip().encode('utf-8'))

In [ ]:
# json_data_df

In [ ]:
if not os.path.exists('test_classify_data/wmt14_fr_en_test/'):
    os.makedirs('test_classify_data/wmt14_fr_en_test')
output_path = 'test_classify_data/wmt14_fr_en_test/'

In [66]:
with open(os.path.join(output_path, "ht_mt_target.en"), 'w') as json_to_txt_v:
    for row in json_data_df['ht_mt_target'].values:
        json_to_txt_v.writelines(row)
        json_to_txt_v.write("\n")#.encode('utf-8')")

In [67]:
with open(os.path.join(output_path, "src.fr"), 'w') as json_to_txt_v:
    for row in json_data_df['src'].values:
        json_to_txt_v.writelines(row)
        json_to_txt_v.write("\n")#.encode('utf-8')")

In [68]:
with open(os.path.join(output_path,"target.en"), 'w') as json_to_txt_v:
    for row in json_data_df['target'].values:
        json_to_txt_v.writelines(row)
        json_to_txt_v.write("\n")#.encode('utf-8')")